@import "tailwindcss";

/* Espaçamento para o conteúdo da matéria */
.conteudo-materia p {
  margin-bottom: 1rem; /* Distância entre parágrafos */
  line-height: 1.5;      /* Altura da linha para não ficar apertado */
  color: #333;
}

.conteudo-materia strong {
  color: #1a1a1a;
  font-weight: 800;
}

.conteudo-materia h2, .conteudo-materia h3 {
  margin-top: 2rem;
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
}